.notification-card {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50; /* Cor verde */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
  }