<div class="app-container">
  <header>
    <div class="filter">
      <input 
        pInputText 
        id="username" 
        aria-describedby="username-help" 
        [(ngModel)]="value"
        (input)="onSearchChange($event)" /> <!-- Evento de input para acionar a filtragem -->
      <small id="username-help">Digite o nome do paciente</small>
    </div>
    <button
    class="divAddIcon" 
    (click)="cadastroModal.showDialog()"
  >
    <i class="pi pi-plus" style="font-size: 1.5rem"></i>
    <span class="tooltip">Adicionar Paciente</span>
  </button>
 
  </header>
  <app-notification></app-notification>
  <main>
    <p-table [value]="patients" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 60%;">Nome</th>
              <th style="width: 20%;">Data de Nascimento</th>
              <th style="width: 20%;">Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
          <tr>
              <td (click)="cadastroModal.viewPatient(patient)" style="cursor: pointer;">{{ patient.nome }}</td>
              <td (click)="cadastroModal.viewPatient(patient)" style="cursor: pointer;">{{ patient.data_nascimento }}</td>
              <td >
                  <button pButton type="button" label="Editar" icon="pi pi-pencil" (click)="cadastroModal.viewPatient(patient, true)" style="margin-right: 10px;"></button>
                  <button 
                      pButton 
                      type="button" 
                      label="Excluir" 
                      icon="pi pi-trash" 
                      styleClass="p-button-danger" 
                      (click)="onDeletePatient(patient.id)">
                  </button>
              </td>
          </tr>
      </ng-template>
  </p-table>
  
  </main>

  <footer>
    <p>&copy; 2024 Meu Sistema de Pacientes</p>
  </footer>
  <app-cadastro-modal #cadastroModal  (patientAdded)="onPatientAdded($event)" 
  (patientEdited)="onPatientEdited($event)">></app-cadastro-modal>
</div>