div {
    display: flex;
    flex-direction: column;
  
}

label {
    margin: 0.5rem;
}

input, select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    display: flex;
    width: 100%;
    
    align-items: center;
    gap: 1rem;
}
.custom-modal .ui-dialog {
    width: 80vw; /* 80% da largura da janela */
   
  }
.divPrincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.name {
    display: flex;
    width: 45%
}
.is-invalid {
    border-color: red;
  }
  .error-message {
    color: red;
    font-size: 0.8rem;
   width: 100%;
  }